@charset "utf-8";

/* 
    Portfolio 1.0
    By: Amber Jeffers
    Date: October 20, 2021
*/

/* Global */
:root { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }
a { target-name: new; target-new: tab; }

.nav-bar {
    display: flex;
    padding: .5em;
    background-color: lightgreen;
    list-style-type: none;
}

.nav-bar .spacing {
    flex: 1;
}

.nav-bar li {
    padding: 0x 40px;
    display: block;
    padding: .5em 1em;
    background-color: yellow;
}

.nav-bar a {
    position: sticky;
    text-decoration: none;
    padding: 20px 20px;
}




/* Color Schemes 
#010101 - black
#f5ece5 - merino (off-white)
#45523e - cabbage pont (dark green)
#b0aca2 - cloudy (grey)
#ad5d50 - matrix (reddish)


#28511c - seaweed (green)
#826e5e - sand dune (brown)
#6da0cd - danube (blue)
#fdfdfd - white [ use for font ]
#c8bea0 - coral reef (tan)

[ Dark Theme ]
#0c0c0c - cod gray (black)
#fefefe - white
#4b2767 - jacarta (purple)
#03fe86 - spring green (lime)
#949494 - dusty gray (gray)
#f10238 - torch red (hot pink)
#86011a - red devil (dark red)
#02a145 - green haze (darkish green)
#0386ae - deep cerulean (light blue)
#020ba9 - klein blue (dark blue)


*/






/* Extra Large Screens -- 1021px+ */

/* Desktop Media Rules  -- 1025px - 1200px */

/* Laptop Media Rules -- 769px - 1024px */

/* Tablet Media Rules -- 481px - 768px */

/* Smartphone Media Rules -- 320px - 480px */